.flipCard{
    height: 15rem;
    perspective: 1000px;
}

.flipCardInner{
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: .6s;
    transition-property: transform, opacity;
    transform-style: preserve-3d;
    transition-delay: 0.3s;
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flipCardFront{
    transform: rotateY(0deg);
}

.flipCardBack {
    transform: rotateY(180deg);
}


.modal__backdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modal__container {
	background: #fff;
	border-radius: 5px;
	max-width: 100%;
	margin: 200px auto;
	width: 560px;
}

.modal__title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}