.flipCard{
    height: 15rem;
    perspective: 1000px;
}

.flipCardInner{
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: .6s;
    transition-property: transform, opacity;
    transform-style: preserve-3d;
    transition-delay: 0.3s;
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flipCardFront{
    transform: rotateY(0deg);
}

.flipCardBack {
    transform: rotateY(180deg);
}